# MOVIE RECOMMENDER SYSTEM

## Domain –OTT Platform

**Context**

Over the past two decades, there has been a monumental shift in how people access and consume video content. With the universal access to broadband internet, numerous platforms like YouTube, Netflix, and HBO Go emerged and steadily grew to prominence.

Although not a household name in itself, OTT is the exact technology that made the streaming revolution possible.

OTT stands for “Over The Top” which refers to any video streaming service delivering content to the users over the internet, however, there are subscription charges associated with the usage of such platforms such as PrimeVideo, Netflix, HotStart, Zee5, SonyLiv, etc.

But choosing your next movie to watch can still be a daunting task, even if you have access to all the platforms.

**Business Requirement:**

“MyNextMovie” is a budding startup in the space of recommendations on top of various OTT platforms providing suggestions to its customer base regarding their next movie.

Their major business is to create a recommendation layer on top of these OTT platforms so that they can make suitable recommendations to their customers, however, since they are in research mode right now, they would want to experiment with open-source data first to understand the depth of the models which can be delivered by them.

The data for this exercise is open-source data that has been collected and made available from the MovieLens website (http://movielens.org), a part of GroupLens

Research The data sets were collected over various periods of time, depending on the size of the set.

You have recently joined as a Data Scientist at “MyNextMovie” and plan to help the existing team to set up a recommendation platform.


https://www.kaggle.com/code/ayushimishra2809/movie-recommendation-system/data?select=ratings.csv

**Objective:**

1. Create a popularity-based recommender system at a genre level. The user will input a genre (g), minimum rating threshold (t) for a movie, and no. ofrecommendations(N) for which it should be recommended top N movies which are most popular within that genre (g) ordered by ratings in descending order where each movie has at least (t) reviews.

**Example:**

Input:

      • Genre (g) : Comedy
      • Minimum reviews threshold (t): 100 
      • Num recommendations (N) : 5

2. Create a content-based recommender system that recommends top N movies based on similar movie(m) genres.

**Example:**

Input:

     • Movie Title (t): Toy Story
     • Num recommendations (N): 5
     
3. Create a collaborative based recommender system which recommends top N movies based on “K” similar users for a target user “u”

**Example:**

Input:

      • UserID: 1
      • Num recommendations(N): 5
      • Threshold for similar users (k: 100     
       
**Data Description**

The data consists of 105339 ratings applied over 10329 movies. The average rating and minimum and maximum rating are 0.5 and 5 respectively. There are 668 users who have given their ratings for 149532 movies.  

There are two data files which are provided:

**Movies.csv**
     
     ● movieId: ID assigned to a movie
     ● title: Title of a movie
     ● genres: pipe-separated list of movie genres.

**Ratings.csv**

    ● userId: ID assigned to a user
    ● movieId: ID assigned to a movie
    ● rating: rating by a user to a movie
    ● Timestamp: time at which the rating was provided

**Steps and Tasks**

● Import libraries and load dataset

● Exploratory Data Analysis including:
    
    o Understanding of distribution of the features available
    o Finding unique users and movies
    o Average rating and Total movies at genre level.
    o Unique genres considered..
    
● Design the 3 different types of recommendation modules as mentioned in the objectives.

● Additional/Optional: Create a GUI interface using Python libraries (ipywidgets etc.) to play around
with the recommendation modules.

# Task-1:-

**Import libraries and load dataset.**

## Importing all the required libraries:-

In [1]:
import pandas as pd
import ipywidgets as widgets
from IPython.display import display
import warnings
warnings.filterwarnings('ignore')

## Import the movies & rating dataset:-

In [2]:
movies_df = pd.read_csv(r"movies.csv")
ratings_df = pd.read_csv(r"ratings.csv")

In [3]:
# Step-1:- Viewing our movies_df & ratings_df data:

print('Printing out the movies data:- ')
display(movies_df.head())

print('\nPrinting out the ratings data:- ')
display(ratings_df.head())

Printing out the movies data:-

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Printing out the ratings data:-

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

# Task-2:- 

**Exploratory Data Analysis including:**

   - **Understanding of distribution of the features available**
    
   - **Finding unique users and movies**

   - **Average rating and Total movies at genre level.**
     
   - **Unique genres considered.**

**Q-1:- Understanding of distribution of the features available**

In [4]:
# Step-1:- Printing out the info of movies & ratings data:
print('The info of Movies Dataset is:- \n')
display(movies_df.info())

print('The info of Ratings Dataset is:- \n')
display(ratings_df.info())

# Step-2:- Printing out the description of movies & ratings data:
print('The description of Movies Dataset is:- ')
display(movies_df.describe())

print('The description of Rating Dataset is:- ')
display(ratings_df.describe())

The info of Movies Dataset is:-

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10329 entries, 0 to 10328
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  10329 non-null  int64
 1   title    10329 non-null  object
 2   genres   10329 non-null  object
dtypes: int64(1), object(2)
memory usage: 242.2+ KB

None

The info of Ratings Dataset is:-

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105339 entries, 0 to 105338
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     105339 non-null  int64
 1   movieId    105339 non-null  int64
 2   rating     105339 non-null  float64
 3   timestamp  105339 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.2 MB

None

The description of Movies Dataset is:-

             movieId
count   10329.000000
mean    31924.282893
std     37734.741149
min         1.000000
25%      3240.000000
50%      7088.000000
75%     59900.000000
max    149532.000000

The description of Rating Dataset is:-

              userId        movieId         rating     timestamp
count  105339.000000  105339.000000  105339.000000  1.053390e+05
mean      364.924539   13381.312477       3.516850  1.130424e+09
std       197.486905   26170.456869       1.044872  1.802660e+08
min         1.000000       1.000000       0.500000  8.285650e+08
25%       192.000000    1073.000000       3.000000  9.711008e+08
50%       383.000000    2497.000000       3.500000  1.115154e+09
75%       557.000000    5991.000000       4.000000  1.275496e+09
max       668.000000  149532.000000       5.000000  1.452405e+09

## Exploratory our movies & ratings Data:

In [5]:
# Step-3:- Checking the shape of movies & ratings data:
print('Shape of the movies Dataset is:- ',
      movies_df.shape,'\n')
print('Shape of the ratings Dataset is:- ',
      ratings_df.shape,'\n')

# Step-4:- Checking the coluumns of movies & ratings data:
print("Columns of movies Dataset is:- \n",
     movies_df.columns,'\n')
print("Columns of ratings Dataset is:- \n",
     ratings_df.columns,'\n')

# Step-5:- Checking the null values of movies & ratings data:
print('The null values in our movies data:- ')
display(movies_df.isnull())

print('The sum of null values in our movies data:- ')
display(movies_df.isnull().sum())

print('The null values in our ratings data:- ')
display(ratings_df.isnull())

print('The sum of null values in our ratings data:- ')
display(ratings_df.isnull().sum())

# Step-6:- Checking the duplicated values of movies & ratings data:
print('The duplicated values in our movies data:- ')
display(movies_df.duplicated())

print('The sum of duplicated values in our movies data:- ',
      movies_df.duplicated().sum(),"\n")

print('The duplicated values in our ratings data:- ')
display(ratings_df.duplicated())

print('The sum of duplicated values in our ratings data:- ',
     ratings_df.duplicated().sum())

Shape of the movies Dataset is:-  (10329, 3)

Shape of the ratings Dataset is:-  (105339, 4)

Columns of movies Dataset is:-
 Index(['movieId', 'title', 'genres'], dtype='object')

Columns of ratings Dataset is:-
 Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

The null values in our movies data:-

       movieId  title  genres
0        False  False   False
1        False  False   False
2        False  False   False
3        False  False   False
4        False  False   False
...        ...    ...     ...
10324    False  False   False
10325    False  False   False
10326    False  False   False
10327    False  False   False
10328    False  False   False

[10329 rows x 3 columns]

The sum of null values in our movies data:-

movieId    0
title      0
genres     0
dtype: int64

The null values in our ratings data:-

        userId  movieId  rating  timestamp
0        False    False   False      False
1        False    False   False      False
2        False    False   False      False
3        False    False   False      False
4        False    False   False      False
...        ...      ...     ...        ...
105334   False    False   False      False
105335   False    False   False      False
105336   False    False   False      False
105337   False    False   False      False
105338   False    False   False      False

[105339 rows x 4 columns]

The sum of null values in our ratings data:-

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

The duplicated values in our movies data:-

0        False
1        False
2        False
3        False
4        False
         ...
10324    False
10325    False
10326    False
10327    False
10328    False
Length: 10329, dtype: bool

The sum of duplicated values in our movies data:-  0

The duplicated values in our ratings data:-

0         False
1         False
2         False
3         False
4         False
          ...
105334    False
105335    False
105336    False
105337    False
105338    False
Length: 105339, dtype: bool

The sum of duplicated values in our ratings data:-  0

**Q-2:- Finding unique users and movies**

In [6]:
# Step-1:- Finding out the unique users and movies from our dataset:
unique_users = ratings_df['userId'].nunique()
unique_movies = ratings_df['movieId'].nunique()

# Step-2:- Printing out the unique users and movies from our dataset:
print("Unique users are:- ", unique_users)
print("Unique movies are:- ", unique_movies)

Unique users are:-  668
Unique movies are:-  10325

**Q-3:- Average rating and Total movies at genre level.**

In [7]:
# Step-1:- Calculate Average rating and Total movies per genre:
avg_rating_per_genre = (movies_df.assign(Genres=movies_df['genres'].str.split('|'))
                        .explode('Genres')
                        .merge(ratings_df.groupby('movieId')['rating'].agg(['mean', 'count']), 
                               left_on='movieId', right_index=True)
                        .groupby('Genres')
                        .agg(Average_rating=('mean', 'mean'), Total_movies=('count', 'sum'))
                        .reset_index())

# Step-2:- Printing out the Average rating and Total movies per genre:
print("Average rating and total movies at genre level:- ")
display(avg_rating_per_genre)

Average rating and total movies at genre level:-

                Genres  Average_rating  Total_movies
0   (no genres listed)        3.071429             7
1               Action        3.113743         31205
2            Adventure        3.201591         23076
3            Animation        3.405377          5966
4             Children        3.090025          8098
5               Comedy        3.094777         38055
6                Crime        3.236985         18291
7          Documentary        3.484583          1206
8                Drama        3.284382         46960
9              Fantasy        3.178616         10889
10           Film-Noir        3.411458          1210
11              Horror        2.830540          7983
12                IMAX        3.369887          3032
13             Musical        3.227645          4287
14             Mystery        3.206681          8320
15             Romance        3.231254         19094
16              Sci-Fi        3.096767         16795
17            Thriller        3.127309         29288
18                 War        3.392267          5828
19             Western        3.254288          2314

**Q-4:- Unique genres considered.**

In [8]:
# Step-1:- Calculating the Unique genres considered:
Genres = avg_rating_per_genre['Genres'].unique()

# Step-2:- Printing out the all the genres and the total number of genres:
print('All the Genres are:- \n',Genres,'\n\n',
     'Total number of Genres are:- ',len(Genres))

All the Genres are:-
 ['(no genres listed)' 'Action' 'Adventure' 'Animation' 'Children' 'Comedy'
 'Crime' 'Documentary' 'Drama' 'Fantasy' 'Film-Noir' 'Horror' 'IMAX'
 'Musical' 'Mystery' 'Romance' 'Sci-Fi' 'Thriller' 'War' 'Western']

 Total number of Genres are:-  20

# Task-3:- 

**Design the 3 different types of recommendation modules as mentioned in the objectives.**

## Building the first recommendation module as       popularity-based recommender system:

**Popularity-based recommender system works at a genre level. The user will input a genre, minimum rating for a movie, and no. of recommendations.**

In [9]:
# Step-1:- Creating a function as popularity_based_recommender for recommendation modules:

def popularity_based_recommender(genre, min_reviews, num_recommendations):
    genre_movies = movies_df[movies_df['genres'].str.contains(genre)]
    genre_ratings = genre_movies.merge(ratings_df, on='movieId', how='left')
    genre_ratings = genre_ratings.groupby('movieId').filter(
        lambda x: len(x) >= min_reviews)

    movie_stats = genre_ratings.groupby('movieId').agg(
        avg_rating=('rating', 'mean'), total_ratings=('rating', 'count')
    ).reset_index()
    
    movie_stats['popularity'] = movie_stats['avg_rating'] * movie_stats['total_ratings']
    movie_stats = movie_stats.sort_values(by='popularity', ascending=False)
    top_movies = movie_stats.head(num_recommendations)
    top_movies = top_movies.merge(movies_df[['movieId', 'title']],
                                  on='movieId', how='left')
    return top_movies

In [10]:
# Step-2:- Creating a sample data for popularity_based_recommender function to generate the recommendation:
genre = 'Comedy'
min_reviews = 100
num_recommendations = 5

# Step-3:- Using the popularity_based_recommender function to generate the recommendation:
popularity_based_recommender_system = popularity_based_recommender(genre, min_reviews, num_recommendations)
popularity_based_recommender_system

   movieId  avg_rating  total_ratings  popularity                      title
0      296    4.160000            325      1352.0        Pulp Fiction (1994)
1      356    4.138264            311      1287.0        Forrest Gump (1994)
2        1    3.907328            232       906.5           Toy Story (1995)
3      608    4.271144            201       858.5               Fargo (1996)
4     1270    3.943662            213       840.0  Back to the Future (1985)

## Building the second recommendation module as content-based recommender system:

**Content-based recommender system that recommends top no. of recommendations movies based on similar movie.**

In [11]:
# Step-1:- Creating a function as content_based_recommender for recommendation modules:

def content_based_recommender(movie_title, num_recommendations):
    input_movie = movies_df[movies_df['title'] == movie_title]
    input_genres = input_movie['genres'].values[0].split('|')
    similar_movies = []
    for index, row in movies_df.iterrows():
        movie_genres = row['genres'].split('|')
        similarity_score = len(set(input_genres) & set(movie_genres)) / float(len(input_genres))
        similar_movies.append((row['title'], similarity_score))
        
    similar_movies.sort(key=lambda x: x[1], reverse=True)
    recommendations = [movie[0] for movie in similar_movies[1:num_recommendations+1]]
    recommendations_df = pd.DataFrame(recommendations, columns=['Recommended Movie'])
    
    return recommendations_df

In [12]:
# Step-2:- Creating a sample data for content_based_recommender function to generate the recommendation:
movie_title = 'Toy Story (1995)'
num_recommendations = 5

# Step-3:- Using the content_based_recommender function to generate the recommendation:
content_based_recommender_system = content_based_recommender(movie_title, num_recommendations)
content_based_recommender_system

                                Recommended Movie
0                                Space Jam (1996)
1                                     Antz (1998)
2                 Who Framed Roger Rabbit? (1988)
3                              Toy Story 2 (1999)
4  Adventures of Rocky and Bullwinkle, The (2000)

## Building the third recommendation module as collaborative based recommender system:

**Collaborative based recommender system which recommends top no.of recommendations movies based on similar users.**

In [13]:
# Step-1:- Creating a function as collaborative based recommender for recommendation modules:

def cosine_similarity(vec1, vec2):
    dot_product = sum(a * b for a, b in zip(vec1, vec2))
    magnitude1 = sum(a ** 2 for a in vec1) ** 0.5
    magnitude2 = sum(b ** 2 for b in vec2) ** 0.5
    if magnitude1 == 0 or magnitude2 == 0:
        return 0
    return dot_product / (magnitude1 * magnitude2)

def collaborative_based_recommender(user_id, num_recommendations, Threshold_of_similar_users,
                              ratings_df, movies_df):
    
    target_user_ratings = ratings_df[ratings_df['userId'] == user_id]
    similar_users = ratings_df[ratings_df['movieId'].isin(target_user_ratings['movieId'])]
    
    similarities = {}
    for similar_user_id, similar_user_ratings in similar_users.groupby('userId'):
        similarity = cosine_similarity(target_user_ratings[
            'rating'].values, similar_user_ratings['rating'].values)
        similarities[similar_user_id] = similarity
    
    similar_users = sorted(similarities, key=similarities.get,
                           reverse=True)[:Threshold_of_similar_users]
    
    unrated_movies = movies_df[~movies_df['movieId'].isin(
        target_user_ratings['movieId'])]
    

    recommendations = {}
    for _, movie_row in unrated_movies.iterrows():
        weighted_sum = 0
        similarity_sum = 0
        for similar_user_id in similar_users:
            similar_user_rating = ratings_df[(
                ratings_df['userId'] == similar_user_id) & (
                ratings_df['movieId'] == movie_row['movieId'])]['rating']
            
            if not similar_user_rating.empty:
                similarity = similarities[similar_user_id]
                weighted_sum += similarity * similar_user_rating.iloc[0]
                similarity_sum += similarity
        if similarity_sum > 0:
            recommendations[movie_row['movieId']] = weighted_sum / similarity_sum
    
    top_recommendations_df = pd.DataFrame(
        recommendations.items(), columns=['movieId', 'predicted_rating'])
    
    top_recommendations_df = top_recommendations_df.merge(
        movies_df[['movieId', 'title']], on='movieId', how='left')
    
    top_recommendations_df = top_recommendations_df.sort_values(
        by='predicted_rating', ascending=False).head(num_recommendations)
    
    return top_recommendations_df

In [14]:
# Step-2:- Creating a sample data for collaborative_based_recommender function to generate the recommendation:
user_id = 1
num_recommendations = 5
Threshold_of_similar_users = 100

# Step-3:- Using the collaborative_based_recommender function to generate the recommendation:
collaborative_based_recommender_system = collaborative_based_recommender(
    user_id, num_recommendations, Threshold_of_similar_users,
    ratings_df, movies_df)

collaborative_based_recommender_system

,movieId,predicted_rating,title
5923,31437,5.0,Nobody Knows (Dare mo shiranai) (2004)
1614,2275,5.0,Six-String Samurai (1998)
7525,69849,5.0,Roots (1977)
69,83,5.0,Once Upon a Time... When We Were Colored (1995)
3713,5304,5.0,"Rome, Open City (a.k.a. Open City) (Roma, citt..."

# Task-4:- 

**Additional/Optional: Create a GUI interface using Python libraries (ipywidgets etc.) to play around with the recommendation modules.**

**First of all creating all the GUI interface function for every recommendation modules.**

## popularity_based_recommender_system

In [15]:
# Step-1:- Converting the genres to list for the further task:
Genres_name = Genres.tolist()

# Step-2:- Creating a function as display_popularity_based_recommender_system:
def display_popularity_based_recommender_system():
    
    # Step-3:- Creating widget for genres, num_recommendations & min_reviews_threshold:
    Genres = widgets.Combobox(description='Genres:', options=Genres_name)
    
    num_recommendations = widgets.ToggleButtons(
        description='Num Recommendations is:', options=[
            1, 2, 3, 4, 5, 6, 7, 8, 9, 10], value=5)

    min_reviews_threshold = widgets.Dropdown(
        description='Min Reviews Threshold:',options=[
            1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100], value=100)
    
    # Step-4:- Define a callback function to handle all the changes in widgets:
    def on_combobox_change(change):
        print("Selected genre is:- ", change['new'])

    def on_toggle_buttons_change(change):
        print("The number of recommendations Selected is:- ", change['new'])
        
    def on_dropdown_change(change):
        print("The number of min Reviews Selected is:- ", change['new'])    

    # Step-5:- Register the callback functions to observe changes in all the widgets:    
    Genres.observe(on_combobox_change, names='value')
    num_recommendations.observe(on_toggle_buttons_change, names='value')
    min_reviews_threshold.observe(on_dropdown_change, names='value')

    # Step-6:- Create an Accordion widget for all of the above widgets created:
    accordion = widgets.Accordion(children=[Genres, num_recommendations, min_reviews_threshold])
    accordion.set_title(0, 'Genres')
    accordion.set_title(1, 'Num Recommendations')
    accordion.set_title(2, 'Min Reviews Threshold')
    
    # Step-7:- Define function to call popularity_based_recommender:
    def get_recommendations():
        genre = Genres.value
        num_recommendations_value = num_recommendations.value
        min_reviews_threshold_value = min_reviews_threshold.value

        popularity_based_recommender_system = popularity_based_recommender(
            genre, min_reviews_threshold_value, num_recommendations_value)
        display(popularity_based_recommender_system)
    
    # Step-8:- Display the Accordion widget:    
    display(accordion)

    # Step-9:- Creating a Button for Recommendations:
    button = widgets.Button(description="Get Recommendations")
    button.on_click(lambda button: get_recommendations())
    display(button)

In [16]:
# Step-10:- Call the popularity_based_recommender_system to display the recommender movie:

display_popularity_based_recommender_system()

Accordion(children=(Combobox(value='', description='Genres:', options=('(no genres listed)', 'Action', 'Advent…

Button(description='Get Recommendations', style=ButtonStyle())

Selected genre is:-  Children
The number of recommendations Selected is:-  10
The number of min Reviews Selected is:-  70

,movieId,avg_rating,total_ratings,popularity,title
0,1,3.907328,232,906.5,Toy Story (1995)
1,588,3.602094,191,688.0,Aladdin (1992)
2,364,3.770950,179,675.0,"Lion King, The (1994)"
3,1097,3.820513,156,596.0,E.T. the Extra-Terrestrial (1982)
4,4306,3.756329,158,593.5,Shrek (2001)
5,1073,3.786765,136,515.0,Willy Wonka & the Chocolate Factory (1971)
6,595,3.576923,143,511.5,Beauty and the Beast (1991)
7,34,3.616279,129,466.5,Babe (1995)
8,6377,3.888889,117,455.0,Finding Nemo (2003)
9,919,4.090090,111,454.0,"Wizard of Oz, The (1939)"

## content_based_recommender_system

In [17]:
# Step-1:- Creating the movies list and Converting to list for further task:
movies_list = movies_df['title'].unique()
movies_list_name = movies_list.tolist()

# Step-2:- Creating a function as display_content_based_recommender_system:
def display_content_based_recommender_system():
    
    # Step-3:- Creating widget for movie_title & num_recommendations:
    movie_title = widgets.Combobox(description='Movie Title:', options=movies_list_name)

    num_recommendations = widgets.ToggleButtons(
        description='Num Recommendations:', options=[
            1, 2, 3, 4, 5, 6, 7, 8, 9, 10], value=5)

    # Step-4:- Define a callback function to handle all the changes in widgets:
    def on_combobox_change(change):
        print("Selected genre is:- ", change['new'])

    def on_toggle_buttons_change(change):
        print("Selected num of Recommendations is:- ", change['new'])

    # Step-5:- Register the callback functions to observe changes in all the widgets:        
    movie_title.observe(on_combobox_change, names='value')
    num_recommendations.observe(on_toggle_buttons_change, names='value')

    # Step-6:- Create an Accordion widget for all of the above widgets created:
    accordion = widgets.Accordion(children=[movie_title, num_recommendations])
    accordion.set_title(0, 'Movie Title')
    accordion.set_title(1, 'Num Recommendations')

    # Step-7:- Define function to call content_based_recommender:
    def get_recommendations():
        movie_title_number = movie_title.value
        num_recommendations_value = num_recommendations.value  
        
        content_based_recommender_system = content_based_recommender(
            movie_title_number, num_recommendations_value)
        display(content_based_recommender_system)

    # Step-8:- Display the Accordion widget:    
    display(accordion)

    # Step-9:- Creating a Button for Recommendations:
    button = widgets.Button(description="Get Recommendations")
    button.on_click(lambda button: get_recommendations())
    display(button)

In [18]:
# Step-10:- Call the display_content_based_recommender_system to display the recommender movie:

display_content_based_recommender_system()

Accordion(children=(Combobox(value='', description='Movie Title:', options=('Toy Story (1995)', 'Jumanji (1995…

Button(description='Get Recommendations', style=ButtonStyle())

Selected genre is:-  Maverick (1994)
Selected num of Recommendations is:-  10

                                   Recommended Movie
0  City Slickers II: The Legend of Curly's Gold (...
1                               Almost Heroes (1998)
2                 Back to the Future Part III (1990)
3                               Shanghai Noon (2000)
4  Good, the Bad, the Weird, The (Joheunnom nabbe...
5                                      Rubber (2010)
6                                       Rango (2011)
7                                   Toy Story (1995)
8                               Bottle Rocket (1996)
9                      Muppet Treasure Island (1996)

## collaborative_based_recommender_system

In [19]:
# Step-1:- Creating a function as display_collaborative_based_recommender_system:
def display_collaborative_based_recommender_system():
    
    # Step-2:- Creating widget for User_Id, num_recommendations, min_reviews_threshold:
    User_Id = widgets.IntText(description='User_Id:')

    num_of_recommendations = widgets.ToggleButtons(
        description='Num Recommendations:', options=[
            1, 2, 3, 4, 5, 6, 7, 8, 9, 10], value=5)

    min_reviews_threshold = widgets.Dropdown(
        description='Min Reviews Threshold:',options=[
            1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100], value=100)

    # Step-3:- Define a callback function to handle all the changes in widgets:
    def on_int_text_change(change):
        if change['type'] == 'change' and change['name'] == 'value':
            print("Selected User_Id is:-", change['new'])

    def on_toggle_buttons_change(change):
        print("Selected num of Recommendations is:- ", change['new'])

    def on_dropdown_change(change):
        print("Selected min Reviews is:- ", change['new'])    

    # Step-4:- Register the callback functions to observe changes in all the widgets:
    User_Id.observe(on_int_text_change, names='value')
    num_of_recommendations.observe(on_toggle_buttons_change, names='value')
    min_reviews_threshold.observe(on_dropdown_change, names='value')

    # Step-5:- Create an Accordion widget for all of the above widgets created:
    accordion = widgets.Accordion(children=[User_Id, num_of_recommendations,
                                            min_reviews_threshold])
    accordion.set_title(0, 'User_Id')
    accordion.set_title(1, 'Num Recommendations')
    accordion.set_title(2, 'Min Reviews Threshold')

    # Step-6:- Define function to call collaborative_based_recommender:
    def get_recommendations():
        user_id = User_Id.value
        num_recommendations = num_of_recommendations.value
        Threshold_of_similar_users = min_reviews_threshold.value

        collaborative_recommender_system =  collaborative_based_recommender(
            user_id, num_recommendations, Threshold_of_similar_users,
            ratings_df, movies_df)
        display(collaborative_recommender_system)

    # Step-7:- Display the Accordion widget:
    display(accordion)

    # Step-8:- Creating a Button for Recommendations:
    button = widgets.Button(description="Get Recommendations")
    button.on_click(lambda button: get_recommendations())
    display(button)

In [20]:
# Step-9:- Call the display_collaborative_based_recommender_system to display the recommender movie:

display_collaborative_based_recommender_system()

Accordion(children=(IntText(value=0, description='User_Id:'), ToggleButtons(description='Num Recommendations:'…

Button(description='Get Recommendations', style=ButtonStyle())

Selected User_Id is:- 5
Selected num of Recommendations is:-  10
Selected min Reviews is:-  60

,movieId,predicted_rating,title
2528,3675,5.0,White Christmas (1954)
2507,3629,5.0,"Gold Rush, The (1925)"
6998,62644,5.0,"Wave, The (Welle, Die) (2008)"
3049,4454,5.0,More (1998)
5561,27366,5.0,Werckmeister Harmonies (Werckmeister harmóniák...
8187,91007,5.0,I Want to Be a Soldier (2011)
5405,26347,5.0,"Irony of Fate, or Enjoy Your Bath! (Ironiya su..."
6761,58078,5.0,"Air I Breathe, The (2007)"
8352,95149,5.0,Superman/Batman: Public Enemies (2009)
6232,46347,5.0,Metal: A Headbanger's Journey (2005)

**Now concatenating all the GUI interface function to build the MOVIE RECOMMENDER SYSTEM**

In [22]:
# Step-1:- Creating a Combobox widget for Movie Recommender System:
Recommender_System = widgets.Combobox(
    description='Modules:', options=['popularity_based_recommender_system',
                                     'content_based_recommender_system',
                                     'collaborative_based_recommender_system'])

# Step-2:- Define a callback function to handle all changes in Combobox:
print('Popularity-based Recommender System works with genre level.\n'
      'Content-based Recommender System works with Movie Title.\n'
      'Collaborative-based Recommender System works with UserID.\n'
      'Now choise the model based upon your need.\n')
def on_combobox_change(change):
    selected_value = change['new']
    if selected_value == 'popularity_based_recommender_system':
        print("Selected Recommendation_Modules is:- ", selected_value)
        display_popularity_based_recommender_system()
    
    elif selected_value == 'content_based_recommender_system':
        print("Selected Recommendation_Modules is:- ", selected_value)
        display_content_based_recommender_system()
        
    elif selected_value == 'collaborative_based_recommender_system':
        print("Selected Recommendation_Modules is:- ", selected_value)
        display_collaborative_based_recommender_system()
        
    else:
        print("Selected Recommendation_Modules is not recognized.")

# Step-3:- Register the callback functions to observe changes in all the widgets:
Recommender_System.observe(on_combobox_change, names='value')

# Step-4:- Create an Accordion widget for all of the above widgets created:
accordion = widgets.Accordion(children=[Recommender_System])
accordion.set_title(0, 'Movie_Recommender_System')

# Step-5:- Display the Recommender_System & Accordion widget:
display(accordion)

Popularity-based Recommender System works with genre level.
Content-based Recommender System works with Movie Title.
Collaborative-based Recommender System works with UserID.
Now choise the model based upon your need.

Accordion(children=(Combobox(value='', description='Modules:', options=('popularity_based_recommender_system',…

Selected Recommendation_Modules is:-  popularity_based_recommender_system

Accordion(children=(Combobox(value='', description='Genres:', options=('(no genres listed)', 'Action', 'Advent…

Button(description='Get Recommendations', style=ButtonStyle())

# Submitted by Biswakant Nayak